* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
}

.menuflat{
    margin-top: 13px;
    margin-left: 7px;
}

.menuflat1{
    background-color: white;
    height:2px;
    width: 20px;
    margin-top: 4px;
    margin-left: 15px;
    position: relative;
}

.welcome{
    background-color: rgb(4, 4, 80);
    width: 100%;
    height: 40px;
    color: white;
    position: fixed;
}

.welcome nav h1{
    text-align: center;
    font-size: 19px;
    margin-top: -16px;
    letter-spacing: 1px;
    position: relative;
}

/*ROUND MENU DECORATION & DROPDOWN*/
.menuround{
    margin-top: -15px;
    margin-right: 17px;
    cursor: pointer;
}

.menuround ul{
    list-style-type: none;
}

.menuround ul li{
    display: block;
    text-decoration: none;
}

.menuround1{
    width: 5px;
    height: 5px;
    display: block;
    background-color: white;
    margin-left: 3px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    position: relative;
}

/*.menuround .menuround1{
    display: block;
}*/

.hoverdownlogout{
    display: none;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid  black;
}

.menuround:hover .hoverdownlogout{
    display: block;
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 21px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}

.hoverdownlogout li a{
    color: white;
    letter-spacing: 1px;
    margin-top: 0px;
    font-size: 14px;
}

/*MAIN BODY DESIGN*/
.forgetpassword{
    position: inherit;
    text-align: center;
    padding: 50px;
}

.forgetpassword h2{
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-left: -480px;
    margin-bottom: 3px;
}

.forgetpassword form{
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 300px;
    padding-top: 9px;
    padding-left: 20px;
    text-align: center;
    width: 700px;
    height: 250px;
}

.forgetpassword h3{
    text-align: left;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
}

/*.forgetpassword h3::before{
    content: '';
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 5px;
}*/

.p{
    background-color: transparent;
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 7px;
    height: 80px;
    border: 1px solid black;
}

.p h4{
    border-bottom: 1px solid black;
    margin-top: 2px;
    margin-bottom: 3px;
}

.p p{
    margin-top: 7px;
    line-height: 21px;
    color: black;
}

.email{
    text-align: center;
    margin-top: 30px;
}

.email input{
    height: 25px;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

button{
    width: 150px;
    height: 24px;
    margin-top: 12px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    letter-spacing: 1px;
    font-size: 14px;
}

button:hover{
    color: white;
    background-color: black;
    transition: 0.5s;
}

/*MOBILE VIEW*/
@media(max-width: 720px) {
    .menuflat{
        margin-top: 8.5px;
        margin-left: 7px;
    }
    
    .menuflat1{
        background-color: white;
        height: 2px;
        width: 20px;
        margin-top: 4px;
        margin-left: 15px;
        position: relative;
    }
    
    .welcome{
        background-color: rgb(4, 4, 80);
        width: 100%;
        height: 15px;
        color: white;
        margin-top: -10px;
        position: fixed;
    }
    
    .welcome nav h1{
        text-align: center;
        font-size: 8px;
        margin-top: -19px;
        letter-spacing: 1px;
        margin-left: 75px;
    }

/*/*ROUND MENU DECORATION & DROPDOWN*//*
    .menuround{
        margin-top: -11.5px;
        margin-right: 17px;
        cursor: pointer;
    }

    .menuround ul{
        list-style-type: none;
    }

    .menuround ul li{
        display: block;
        text-decoration: none;
    }

    .menuround1{
        width: 5px;
        height: 5px;
        display: block;
        background-color: white;
        margin-left: 3px;
        border-radius: 50%;
        float: right;
        cursor: pointer;
        position: relative;
    }

*//*.menuround .menuround1{
    display: block;
}*//*

    .hoverdownlogout{
        display: none;
        border: none;
        border-bottom: 1px solid black;
        border-top: 1px solid  black;
    }

    .menuround:hover .hoverdownlogout{
        display: block;
        position: absolute;
        background-color: blue;
        width: 100%;
        height: 21px;
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;
    }

    .hoverdownlogout li a{
        color: white;
        letter-spacing: 1px;
        margin-top: 0px;
        font-size: 14px;
    }*/

/*MAIN BODY DESIGN*/
    .forgetpassword{
        position: inherit;
        text-align: center;
        padding: 0px;
    }

    /*.forgetpassword h2{
        font-size: 7px;
        letter-spacing: 1px;
        margin-top: -29px;
        margin-left: 120px;
        margin-bottom: 3px;
    }*/

    .forgetpassword form{
        background-color: white;
        border: 1px solid black;
        border-radius: 7px;
        margin-left: 80px;
        padding-top: 9px;
        padding-left: 20px;
        text-align: center;
        width: 450px;
        height: 250px;
    }

    .forgetpassword h3{
        text-align: left;
        margin-top: -2px;
        margin-bottom: 5px;
        font-size: 7px;
        margin-left: 80px;
    }

/*.forgetpassword h3::before{
    content: '';
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 5px;
}*/

    .p{
        background-color: transparent;
        width: 80%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 7px;
        height: 50px;
        border: 1px solid black;
    }

    .p h4{
        border-bottom: 1px solid black;
        margin-top: 1px;
        margin-bottom: 3px;
        font-size: 8px;
    }

    .p p{
        margin-top: 4px;
        line-height: 10px;
        color: black;
        font-size: 7px;
    }

    .email{
        text-align: center;
        margin-top: 30px;
    }

    .email input{
        height: 15px;
        width: 50%;
        border: 1px solid black;
        border-radius: 5px;
        outline: none;
        font-size: 7px;
    }

    button{
        width: 100px;
        height: 14px;
        margin-top: 12px;
        border: none;
        border-radius: 5px;
        background-color: blue;
        letter-spacing: 1px;
        font-size: 7px;
    }

    button:hover{
        color: white;
        background-color: black;
        transition: 0.5s;
    }
}